html, body {
    margin: 0;
    padding: 0;
    background: #eee;
}

.form-wrapper {
    width: 500px;
    min-height: 200px;
    padding: 10px 0;
    /*border: 1px solid #555;*/
    box-sizing: border-box;
    box-shadow: 3px 2px 0.3em #a7a2a2;
    /*border-radius: 4px;*/
    background: #fff;
    margin: 30px auto;

}

.heading {
    text-align: center;
    color: #666;
    margin: 10px;
}

.input-field {
    padding: 10px;
    margin: 5px 15px;
    width: 470px;
    font-size: 120%;
    box-sizing: border-box;
}

.btn-calculate {
    padding: 10px;
    margin: 5px 15px;
    color: #fff;
    font-size: 120%;
    background: #2196F3;
    border: 1px solid #eee;
}

.result {
    padding: 10px 20px;
    margin: 5px 15px;
    font-size: 120%;
    border: 1px solid #eee;
    float: right;
    background: #f44336;
    color: #fff;
}